@model IEnumerable<object>
    @{ 
      List<OnlineShop.Database.EF.danhmuc> lstDanhMuc = Model.ToList()[0] as List<OnlineShop.Database.EF.danhmuc>;
     List<OnlineShop.Database.EF.loaisanpham> lstLoaiSanPham =Model.ToList()[1] as List<OnlineShop.Database.EF.loaisanpham>;

    }

@*//@model List<OnlineShop.Database.EF.loaisanpham>*@


@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12 col-sm-12 col-xs-12">

    <div class="x_panel">
        <div class="x_title">
            <h2>Thêm mới sản phẩm </h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form action="Add" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data" novalidate>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                        Tên sản phẩm <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="ten" placeholder="Tên sản phẩm" required="required" type="text">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                        Giá sản phẩm <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="number" name="gia" placeholder="Giá sản phẩm" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
                        Nhà sản xuất <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="name" type="text" name="nhasanxuat" placeholder="Nhà sản xuất" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
            

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">
                        Loại sản phẩm <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control col-md-7 col-xs-12" p name="loaisanphamma">
                            @foreach (var item in lstLoaiSanPham)
                            {
                                
                                <option value="@item.ma">@item.ten</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">
                        Danh mục <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control col-md-7 col-xs-12" p name="danhmucma">
                            <option value="null">null</option>
                          @foreach (var item in lstDanhMuc)
                          {                         
                            <option value="@item.ma">@item.ten</option>
                          }
                        </select>
                    </div>
                </div>

                @*<div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">
                        Sale <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control col-md-7 col-xs-12" p name="sale">
                            <option>True</option>
                            <option selected="selected">False</option>
                        </select>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
                        Giá khuyến mại <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="name" type="text" name="giakhuyenmai" value="0" placeholder="Giá khuyến mại" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>*@

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                        Mô tả <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea id="textarea" required="required" name="mota" placeholder="Mô tả sản phẩm" class="form-control col-md-7 col-xs-12"></textarea>
                    </div>
                </div>

                <div class="item form-group">

                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> Ảnh <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="file" name="anh">
                    </div>

                </div>



                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                        @Html.ActionLink("Trở lại danh sách", "Index", "SanPham")

                    </div>
                </div>
            </form>




        </div>
    </div>
</div>