
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    @*<link href="~/Areas/NguoiDung/Theme/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Areas/NguoiDung/Theme/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/NguoiDung/Theme/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

    <link href="~/Areas/NguoiDung/Theme/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Areas/NguoiDung/Theme/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Areas/NguoiDung/Theme/css/price-range.css" rel="stylesheet">
    <link href="~/Areas/NguoiDung/Theme/css/animate.css" rel="stylesheet">
    <link href="~/Areas/NguoiDung/Theme/css/main.css" rel="stylesheet">
    <link href="~/Areas/NguoiDung/Theme/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/Areas/NguoiDung/Theme/js/html5shiv.js"></script>
    <script src="~/Areas/NguoiDung/Theme/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon"  href="~/Areas/NguoiDung/Theme/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Areas/NguoiDung/Theme/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"  href="~/Areas/NguoiDung/Theme/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"  href="~/Areas/NguoiDung/Theme/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"  href="~/Areas/NguoiDung/Theme/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
    <header id="header">
        <!--header-->
      @RenderPage("header_top.cshtml")

     @RenderPage("header_middle.cshtml")

     @RenderPage("header_bottom.cshtml")
    </header><!--/header-->

    @RenderSection("Slide", required:false)

    @RenderBody()

   @RenderPage("footer.cshtml")

    <script src="~/Areas/NguoiDung/Theme/js/jquery-3.2.1.js"></script>
    @*<script src="~/Areas/NguoiDung/Theme/js/jquery.js"></script>*@
    @*<script src="~/Areas/NguoiDung/Theme/js/bootstrap.min.js"></script>*@
    <script src="~/Areas/NguoiDung/Theme/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Areas/NguoiDung/Theme/js/jquery.scrollUp.min.js"></script>
    <script src="~/Areas/NguoiDung/Theme/js/price-range.js"></script>
    <script src="~/Areas/NguoiDung/Theme/js/jquery.prettyPhoto.js"></script>
    <script src="~/Areas/NguoiDung/Theme/js/main.js"></script>
</body>
</html>